<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div id="event">
      
      <form id="eve">
        <input type="text" value="">
        <input type="date" value="">
        <input type="text" value="">
        <input type="text" value="">
        <button type="submit" value="">Submit</button>
    </form>
      
      </div>
    </div>
    <script>
      
    </script>
  </body>
</html>
