title= "Local Events — " + name
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
script(src='https://unpkg.com/feather-icons')
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
link(rel="icon" type="image/ico" href="https://cdn.glitch.com/f3582f90-c063-4a84-926a-0d5e40d62757%2Ffavicon.ico")
